extends layout.pug

block content
  h1 Hello
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt expedita eaque illo, quisquam nemo id accusamus, nisi ullam aliquam officia voluptatem ipsam. Explicabo quia illo nesciunt at, excepturi vitae tenetur!
